
# Global Ignores
\node_modules
\dist
.env
.env.old
.vs/

# Top Level Ignores
/Releases
/testingproj
/.extras
/mediawin
/build
/Legacy/mediawincs/DeskThingMediaCLI/bin
/Legacy/mediawincs/DeskThingMedia/obj
/Legacy/CommunityApps
/discord/dist-legacy
