
\node_modules
\dist
/Legacy/CommunityApps
/Legacy/mediawincs/DeskThingMedia/.vs
/Legacy/mediawincs/DeskThingMedia/obj
/Legacy/mediawincs/DeskThingMediaCLI/.vs
/Legacy/mediawincs/DeskThingMediaCLI/bin
/recordnowplaying/dist
