button {
  background: transparent;
  background-color: transparent;

  border: none;
}

button:focus {
  outline: none;
  border: none;
}

button:active {
  outline: none;
  border: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url(/fonts/GeistVF.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}