button {
  background: transparent;
  background-color: transparent;

  border: none;
}

button:focus {
  outline: none;
  border: none;
}

button:active {
  outline: none;
  border: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;